body {
	background-color: #DDD6F3;
}

.container {
	padding-top: 100px;
	padding-left: 300px;
}

.col {
	margin-top: 150px;
}

h1 {
	font-family: 'Times New Roman', Times, serif;
	text-decoration: underline wavy rgb(178, 164, 210);
	text-align: center;
	padding-right: 300px;
}
